extends layout

block question
  if question.title
    h1.card__title=question.title
  if question.text
    p.card__paragraph=question.text
  if question.code
    pre(class="code card__code")=question.code
block answer
  input(type="checkbox",id="answer", class="card__checker")
  label(for="answer")
    a(class="card__btn-show btn", title="Показать ответ") Показать
  if answer.title
    h1.card__title=answer.title
  if answer.text
    p.card__paragraph=answer.text
  if answer.code
    pre(class="code card__code")=answer.code